@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  --font-family-system: "League Spartan", sans-serif;
  --font-weight-heading: 700;
  --font-size-number: 32px;

  --radius-sm: 6px;

  --key-shadow-distance: 4px;
}

body.theme--1 {
  display: flex;
  justify-content: center;
}

.theme--1 {
  --bg-main: hsl(222, 26%, 31%);
  --bg-toggle: hsl(223, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);

  --key-bg-primary: hsl(225, 21%, 49%);
  --key-bg-accent: hsl(6, 63%, 50%);

  --text-on-dark: white;
}

html, body {
  overflow: hidden;
  font-family: var(--font-family-system);
  background: var(--bg-main);
  color: var(--text-on-dark);
}

.calculator-screen {
  background: var(--bg-screen);
  padding: 30px 24px;
}

.calculator-buttons {
  background: var(--bg-toggle);
  padding: 24px;
}

.btn-calc {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: var(--radius-sm);
  font-size: var(--font-size-number);
  cursor: pointer;
}

.btn-reset {
  background: var(--key-bg-primary);
  color: white;
}

.btn-delete {
  background: var(--key-bg-primary);
  color: white;
}

.btn-equals {
  background: var(--key-bg-accent);
  color: white;
}
